@import '../../../../sass/variables';
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    box-shadow: $shadow;
    background-color: white;
    >.left, .right, .center {
        >* {
            margin: 0 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .center { display: none; }
    }
}