<header>
    <div class="left">
        <span (click)="menu()" class="clickable fa fa-bars"></span>
    </div>
    <div class="center">
        <h1 class="title">Demo Angular</h1>
    </div>
    <div class="right">
        <span class="clickable fa fa-user-plus"></span>
        <span class="clickable fa fa-sign-in"></span>
    </div>
</header>
