<p>Le texte va changer lorsque l'on survolera le mot en rouge</p>
<p>Hello <span (mouseenter)="changeText()" (mouseleave)="back()" class="text-info">{{ someString }}</span>  !!!</p>


<p>Le compteur sera modifier lorsque l'on cliquera sur un des boutons !</p>
<p><span class="text-primary" [ngClass]="{'text-danger' : compt == 0, 'text-success' : compt == 9 }">{{ compt }}</span></p>

<button class="btn btn-danger mr-2" (click)="decrease()" [disabled]="compt <= 0">decrease</button>
<button class="btn btn-primary" (click)="increase()" [disabled]="compt >= 9">increase</button>