<h2>Timer: {{ milliseconds  | toTime }}</h2>
<div>
    <button [disabled]="timer" (click)="start()" class="btn btn-outline-info mr-2">Start</button>
    <button [disabled]="!timer" (click)="stop()" class="btn btn-outline-danger mr-2">Stop</button>
    <button [disabled]="milliseconds == 0" (click)="reset()" class="btn btn-outline-warning">Reset</button>
</div>