@import '../../../../sass/variables';
nav {
    ul {
        .icon {
            margin-right: 1em;
        }
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
        li {
            min-height: 40px;
            width: 100%;
            &:hover>a {
                color: orange;
                >* {
                    color: orange;
                }
            }
            &.active>a {
                color: orange;
                >* {
                    color: orange;
                }
                ~.submenu {
                    display: block;
                }
            }
        }
        a {
            box-shadow: 0 2px 2px 0 $light;
            cursor: pointer;
            padding-left: 20px;
            display: flex;
            align-items: center;
            min-height: 40px;
            text-decoration: none;
        }
        .submenu {
            display: none;
            a {
                padding-left: 60px;
            }
            &.active {
                display: block;
            }
        }
    
    }
}