<nav>
<ul>
    <li routerLinkActive="active"><a routerLink="/home"><i class="icon fa fa-home"></i>Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about"><i class="icon fa fa-star"></i>About</a></li>
    <li routerLinkActive="active">
        <a  (click)="toggle(sub1)"><i class="icon fa fa-book"></i>Demo</a>
        <ul #sub1 class="submenu">
            <li routerLinkActive="active"><a routerLink="/demo/demo1">Demo 1 - Binding 1 way</a></li>
            <li routerLinkActive="active"><a routerLink="/demo/demo2">Demo 2 - Events</a></li>
        </ul>
    </li>
    <li routerLinkActive="active">
        <a  (click)="toggle(sub2)"><i class="icon fa fa-battery-2"></i>Exercices</a>
        <ul #sub2 class="submenu">
            <li routerLinkActive="active"><a routerLink="/exo/exo1">Exercice 1 - Timer</a></li>
        </ul>
    </li>
</ul>
</nav>
