<div class="layout">
  <app-header (menuClicked)="showMenu = !showMenu"></app-header>
  <main>
    <aside [ngClass]="{ 'show' : showMenu }">
      <app-nav></app-nav>
    </aside>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
  <app-footer></app-footer>
</div>
