@import '../sass/variables';
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    app-header, app-footer {
        z-index: 1;
    }
    main {
        display: flex;
        flex: 1;
        z-index: 0;
        aside {
            background-color: white;
            width: 300px;
            margin-left: -300px;
            border-right: 1px solid $light;
            min-height: 100%;
            transition: all linear 0.3s;
            &.show {
                margin-left: 0;
            }
        }
    }
    section {
        padding: 20px;
        background-color: #eee;
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        main {
            position: relative;
            aside {
                position: absolute;
                left: -100vw;
                margin-left: 0;
                z-index: 900;
                &.show {
                    left: 0;
                }
            }
        }
    }
}