<p>Ici Nous sommes dans la page DEMO</p>
<p>Plus bas nous pouvons charger un sous composant de la page DEMO</p>
<div style="background-color: white; padding: 20px;">
    <router-outlet></router-outlet>
</div>