<h2>Strings</h2>
<p>String (raw) : {{ someString }}</p>
<p>String (lower) : {{ someString | lowercase }}</p>
<p>String (upper) : {{ someString | uppercase }}</p>
<p>String (title) : {{ someString | titlecase }}</p>

<h2>Numbers</h2>
<p>Number (raw) : {{ someNumber }}</p>
<p>Number (localized) : {{ someNumber | number }}</p>
<p>Number (formated) : {{ someNumber | number : '3.2-2' }}</p>
<p>Number (local currency) : {{ someNumber | currency }}</p>

<h2>Dates</h2>
<p>Date (raw) : {{ someDate }}</p>
<p>Date (formated) : {{ someDate | date : 'dd MMMM yyyy' }}</p>

<h2>Boolean</h2>
<p>Boolean (raw) : {{ someBoolean }}</p>
<p>Boolean (ternary) : {{ someBoolean ? 'OK' : 'KO' }}</p>