/* You can add global styles to this file, and also import other style files */
@import 'sass/variables';
*, a {
    color: $dark;
}
body {
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: orange;
}

.text-red {
    color: red;;
}